@model IEnumerable<InternshipApplication.Models.Domain.ContactPersoon>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactPersonen</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "AddContact")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Functie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactTelNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GsmNummer)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Functie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactTelNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GsmNummer)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateContact", new {id = @ViewBag.bedrijfsId,idC=item.Id })|
                @Html.ActionLink("Delete", "Delete", new { id = @ViewBag.bedrijfsId,idC=item.Id }) 
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
