@model IEnumerable<InternshipApplication.Models.Domain.ContactPersoon>

@{
    ViewBag.Title = "Contactpersonen";
    ViewBag.Active = "User";
}

@{ Html.RenderAction("UserToolbar");}

<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Functie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactTelNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GsmNummer)
            </th>
            <th>Bewerkingen</th>
        </tr>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voornaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Functie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactTelNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GsmNummer)
                </td>
                <td>
                    <a href="@Url.Action("UpdateContact", "User", new { id=item.Id })" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("Details", "User", new { id=item.Id })" title="Details"><span class="glyphicon glyphicon-list"></span></a>&nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("Delete", "User", new { id=item.Id })" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        }
    </table>
</div>