@model InternshipApplication.Models.Domain.Bedrijf
<div class="navbar navbar-default" role="navigation" >
    <div class="navbar-header">
        <a class="navbar-brand" href="@Url.Action("UserIndex", "User")">@Model.Bedrijfsnaam</a>
    </div>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Contactpersonen", "ContactPersonen", "User", new { id = Model.Id }, null)</li>
        <li>@Html.ActionLink("Contactpersoon toevoegen", "AddContact", "User", new { id = Model.Id }, null)</li>
        <li>@Html.ActionLink("Opdrachten", "OpdrachtenView", "User", new { id = Model.Id }, null)</li>
    </ul>
</div>