@model InternshipApplication.ViewModels.RegistratieModel

@{
    ViewBag.Title = "Registreer";
    ViewBag.Active = "Registreer";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post,
    new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <h4>Registreren</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon">Bedrijfsnaam</span>
                @Html.TextBoxFor(m => m.Bedrijfsnaam, new {@class = "form-control", required=true, autofocus=true, placeholder="..." })
            </div>
            <p>
                @Html.ValidationMessageFor(m => m.Bedrijfsnaam)
            </p>
            
            <div class="input-group">
                <span class="input-group-addon">Email</span>
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", type="email", required=true, placeholder="..." })
            </div>
            <p>
                @Html.ValidationMessageFor(m => m.Email)
            </p>
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon">Wachtwoord</span>
                @Html.TextBoxFor(m => m.Password, new {@class = "form-control", type="password", required=true, placeholder="..." })
            </div>
            <p>
                @Html.ValidationMessageFor(m => m.Password)
            </p>
            
            <div class="input-group">
                <span class="input-group-addon">Bevestig wachtwoord</span>
                @Html.TextBoxFor(m => m.ConfirmPaswoord, new {@class = "form-control", type="password", required=true, placeholder="..." })
            </div>
            <p>
                @Html.ValidationMessageFor(m => m.ConfirmPaswoord)
            </p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Straat</span>
                @Html.TextBoxFor(m => m.Straat, new {@class = "form-control", required=true, placeholder="..." })
            </div>
            <p>
                @Html.ValidationMessageFor(m => m.Straat)
            </p>
            
            <div class="input-group">
                <span class="input-group-addon">Nummer</span>
                @Html.TextBoxFor(m => m.Straatnummer, new {@class = "form-control", required=true, placeholder="..." })
            </div>
            <p>
                @Html.ValidationMessageFor(m => m.Straatnummer)
            </p>
            
            <div class="input-group">
                <span class="input-group-addon">Plaats</span>
                @Html.TextBoxFor(m => m.Woonplaats, new {@class = "form-control", required=true, placeholder="..." })
            </div>
            <p>
                @Html.ValidationMessageFor(m => m.Woonplaats)
            </p>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Telefoon</span>
                @Html.TextBoxFor(m => m.Telefoon, new {@class = "form-control", required=true, placeholder="..." })
            </div>
            <p>
                @Html.ValidationMessageFor(m => m.Telefoon)
            </p>
            
            <div class="input-group">
                <span class="input-group-addon">Url</span>
                @Html.TextBoxFor(m => m.Url, new {@class = "form-control", required=true, placeholder="..." })
            </div>
            <p>
                @Html.ValidationMessageFor(m => m.Url)
            </p>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">Bereikbaarheid</span>
                @Html.TextBoxFor(m => m.Bereikbaarheid, new {@class = "form-control", required=true, placeholder="..." })
            </div>
            <p>
                @Html.ValidationMessageFor(m => m.Bereikbaarheid)
            </p>
            
            <div class="input-group">
                <span class="input-group-addon">Activiteit</span>
                @Html.TextBoxFor(m => m.Activiteit, new {@class = "form-control", required=true, placeholder="..." })
            </div>
            <p>
                @Html.ValidationMessageFor(m => m.Activiteit)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3">
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Registreer" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
